{% extends "layout.html" %}
{% block body %}
  <h1>{{ this.title }}</h1>
  {{ this.body }}
  {% for img in this.attachments.images %}
    {# 192 is half test.jpg's original width #}
    {% set t = img.thumbnail(192) %}
    <img src="{{ t|url }}" width="{{ t.width }}" height="{{ t.height }}">
    {% set tq = img.thumbnail(192, 256, False, quality=20) %}
    <img src="{{ tq|url }}" width="{{ tq.width }}" height="{{ tq.height }}">
    {% set th = img.thumbnail(192, 192, False, quality=30) %}
    <img src="{{ th|url }}" width="{{ th.width }}" height="{{ th.height }}">
    {% set tc = img.thumbnail(192, 192, True, quality=40) %}
    <img src="{{ tc|url }}" width="{{ tc.width }}" height="{{ tc.height }}">
  {% endfor %}
{% endblock %}
